$height-header: 50px;
$height-toolbar: 52px;
$height-formula: 35px;
$col-cell-width: 50px;
$row-height: 28px;
$cell-width: 120px;
$height-header-dashbord: 60px;
$border-color: #cccccc;
$primary-color: #3c6ef8;